
<div class="table-container">
  

  <script>
    // Obtener la fecha actual
    var fecha = new Date();

    // Formatear la fecha en formato día/mes/año
    var dia = fecha.getDate();
    var mes = fecha.getMonth() + 1; // El mes comienza en 0
    var anio = fecha.getFullYear();
    var fechaFormateada = dia + "/" + mes + "/" + anio;

    // Insertar la fecha formateada en el div
    document.getElementById("fecha").innerHTML = fechaFormateada;
  </script>
  <p class="rojo">
    SALDOS DE CREDITOS A CLIENTES
  </p>

  
  <div style="padding: 15px;">

    <div class="buscar">
      <label for="">Buscar: </label>
      <input type="text" placeholder="NIT ó Cliente" (keyup)="buscar($event)"
      style="text-transform: uppercase">
      
    </div>
    
    <div class="separador">
      <div style="border: 0px solid rgb(182, 182, 182);">
        
        <table>
          <thead>
            <tr>
              <th>Identificación</th>
              <th>Nombre del Cliente</th>
              <th>Prestamos</th>
              <th>Abonos</th>
              <th>Saldo Actual</th>
              <th style="text-align: center;">Abonar</th>
            </tr>
          </thead>
          

          <tbody>
            <tr *ngFor="let factura of facturasFiltradas">
              <td>{{ factura.rucCliente }}</td>
              <td style="text-transform: uppercase !important;">{{ factura.nombreCliente }}</td>
              <td >{{ factura.total }}</td>
              <td>{{ factura.abono }}</td>
              <td>{{ factura.saldo }}</td>
              <td style="text-align: center;">
                <input #abonoInput style="height: 28px; border-radius: 5px; padding-left: 10px; font-size: 15px;" 
                       type="text" 
                       (keydown.enter)="onEnter(factura, abonoInput)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
