
<div class="table-container">
  <p class="rojo">
    Lista de facturación por clientes
  </p>

  <div class="buscar">
    <label for="">Buscar: </label>
    <input type="text" (keyup)="buscar($event)">
    
  </div>

  
  <div class="separador">
    <div>
      <table>
        <thead>
          <tr>
            <th>Num Factura</th>
            <th>NIT</th>
            <th>Subtotal</th>
            <th>Igv</th>
            <th>Total Facturado</th>
            <th>Total Abono</th>
            <th>Total Saldo</th>
            <th class="eliminar">Acciones</th>
          </tr>
        </thead>
        

        <tbody>

          <tr *ngFor="let factura of facturasFiltradas">
            <td>{{ factura.numeroFactura }}</td>
            <td >{{ factura.rucCliente }}</td>
            <td>{{ factura.subtotal }}</td>
            <td>{{ factura.igv }}</td>
            <td>{{ factura.total }}</td>
            <td>{{ factura.abono }}</td>
            <td>{{ factura.saldo }}</td>
            <td class="eliminar">
              <button (click)="eliminarPorId(factura.idFcatura)">❌</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
