
<div class="table-container">
  <p class="rojo">
    LISTADO GENERAL DE FACTURACIÓN
  </p>

  <div class="buscar">
    <label for="">Buscar: </label>
    <input type="text" placeholder="# Factura  ó  Nombre Cliente" (keyup)="buscar($event)"
    style="text-transform: uppercase">        
  </div>

  
  <div class="separador">
    <div>
      <table>
        <thead>
          <tr>            
            <th style="font-weight: bold; size: 24px;">Total Facturado</th>
            <th style="font-weight: bold; size: 24px;">${{tFacturado | number: '1.2-2'  }}</th>
            <th style="font-weight: bold; size: 24px;">Total Abonado</th>
            <th style="font-weight: bold; size: 24px;">${{tAbonado | number: '1.2-2'  }}</th>
            <th style="font-weight: bold; size: 24px;">Total Saldo</th>
            <th style="font-weight: bold; size: 24px;">${{tSaldo | number: '1.2-2'  }}</th>
          </tr>
          <br>
          <tr>
            <th>Num Factura</th>
            <th>Nombre cliente</th>
            <th>Total Facturado</th>
            <th>Referencia</th>
            <th>Total Abono</th>
            <th>Total Saldo</th>
            <th><input style="border-radius: 8px; font-size: 16px;padding: 4px;
  border: 1px solid rgb(182, 182, 182);" type="text" placeholder="Filtro fecha facturación" (keyup)="filterTable($event)">
            </th>
            <!--th class="eliminar">Acciones</th-->
          </tr>
        </thead>        

        <tbody>

          <tr *ngFor="let factura of facturasFiltradas">
            <td>{{ factura.numeroFactura }}</td>
            <td style="text-transform: uppercase;">{{ factura.nombreCliente }}</td>
            <td>{{ factura.total }}</td>
            <td>{{ factura.detalle }}</td>
            <td>{{ factura.abono }}</td>
            <td>{{ factura.saldo }}</td>
            <td>{{ factura.fechaFacturada }}           
                <button class="editar" (click)="toggleModoEdicion(factura)">✏️</button>
              </td>
            <!--td class="eliminar">
              <button (click)="eliminarPorId(factura.idFcatura)">❌</button>

            </td-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="pup-up" [ngClass]="{ 'oculto': modoOculto }">
    <div class="pop-up-container">
      <span class="cerrar" (click)="editarModoOcuto()">❌</span>
      <app-editarfactura class="editar" [facturaEditar]="facturaEditar" (modoOculto)="editarModoOcuto()"></app-editarfactura>
      
    </div>
  </div>

</div>
