
<div class="table-container">
  <p class="rojo">
    LISTADO GENERAL DE FACTURACIÓN
  </p>

  <div class="buscar">
    <label for="">Buscar: </label>
    <input type="text" placeholder="# Factura  ó  Nombre Cliente" (keyup)="buscar($event)">
    
  </div>

  
  <div class="separador">
    <div>
      <table>
        <thead>
          <tr>
            <th>Num Factura</th>
            <th>Nombre cliente</th>
            <!--th>Subtotal</th-->
            <!--th>IVA</th-->
            <th>Total Facturado</th>
            <th>Total Abono</th>
            <th>Total Saldo</th>
            <!--th class="eliminar">Acciones</th-->
          </tr>
        </thead>
        

        <tbody>

          <tr *ngFor="let factura of facturasFiltradas">
            <td>{{ factura.numeroFactura }}</td>
            <td >{{ factura.nombreCliente }}</td>
            <!--td>{{ factura.subtotal }}</td-->
            <!--td>{{ factura.igv }}</td-->
            <td>{{ factura.total }}</td>
            <td>{{ factura.abono }}</td>
            <td>{{ factura.saldo }}</td>
            <!--td class="eliminar">
              <button (click)="eliminarPorId(factura.idFcatura)">❌</button>

            </td-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
