<div class="contenido-menu">
<div class="menu-container">
  
  <div class="imagen">
    <img src="../../../assets/menu-mastermal.png" alt="login img">
  </div>
  <p></p>
  <ul>
    <details >
      <summary  >Inventario</summary>
      <li>
        <button
          routerLinkActive="underline"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/app/cliente" 
          >
          📁 Clientes
        </button>
      </li>
      <li>
        <button routerLink="/app/producto" routerLinkActive="underline">
          🛒 Productos
        </button>
      </li>
    </details>

    <details >
      <summary>Documentos</summary>
        <li>
          <button routerLink="/app/factura" routerLinkActive="underline">
          📝 Factura
          </button>
        </li>
        <li>
          <button routerLink="/app/facturacion" routerLinkActive="underline">
          🏦 Facturación
          </button>
        </li>
        <li>
          <button routerLink="/app/lista-factura" routerLinkActive="underline">
          📋 Ver facturas
          </button>
        </li>
    </details>


  </ul>

</div>
<button class="salir" (click)="salir()">✖️ Salir</button>

</div>
<router-outlet></router-outlet>